.ComicPreview {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 350px;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.ComicPreview:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.ComicPreview img {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  margin-bottom: 20px;
  transition: transform 0.3s ease;
}

.ComicPreview img:hover {
  transform: scale(1.05);
}

.ComicPreview h2 {
  font-size: 1.4rem;
  margin-bottom: 10px;
  text-align: center;
  color: #333;
  transition: color 0.3s ease;
}

.ComicPreview:hover h2 {
  color: #000;
}

.ComicPreview p {
  font-size: 1rem;
  color: #777;
  text-align: center;
  transition: color 0.3s ease;
}

@media (max-width: 768px) {
  .ComicPreview {
    width: 100%;
    max-width: 100%;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .ComicPreview {
    padding: 15px;
  }
}
