.favoriteContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f4f4f4;
}

.favorites {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.favorites h2 {
  text-align: center;
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.favoriteComicItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 200px;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.favoriteComicItem:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.favoriteComicImage {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.favoriteComicItem span {
  font-size: 1.1rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .favorites {
    padding: 10px;
  }

  .favoriteComicItem {
    width: 100%;
    max-width: 100%;
  }
}
